.logo,
.logo-secondary {
    font-family: 'Raleway';
    font-style: normal;
    @include font(26px, null);

    color: #2196F3;
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    @include font(26px, null, 1.2);
    margin-bottom: 20px;

    color: #FFFFFF;
}