:root {
    --typical-padding: 94px;
    --typical-margin: 50px;
    --typical-side: 215px;

    --typical-effect-time: 250ms;
    --typical-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    color: $color;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

