:root {
    --header-color: #212121;
    --accent-color: #2196F3;
    --title-color: #212121;
    --first-btn-color: #212121;
    --second-btn-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --second-color: #FFFFFF;
    --typical-padding: 94px;
    --typical-margin: 50px;
    --typical-side: 215px;

    --typical-effect-time: 250ms;
    --typical-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}